<body class="home">
  <div class="home-head">text路o路pe路di路a (n)</div>
  <div class="home-text">Create, share, and read.</div>
  <br/>
  <div class="home-button">
    <button type="button" class="button"><%= link_to "Start Reading", texts_path %></button>
  </div>
</body>