/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require chosen
 */

@import "bootstrap";

body {
  font-family: 'Libre Baskerville', serif;
  font-weight: 300;
  padding:70px 0 50px 0px;
  background-image: image-url('default_background.png');
  background-repeat:no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 2em;
  font-weight:bold;
  margin-bottom:20px;
}

p {
  font-family: 'Droid Serif', serif;
}

.home {
  background-image: image-url('home_background.png');
  background-repeat:no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-text {
  font-family: 'Libre Baskerville', serif;
  font-size:20px;
}

.home-head {
  font-family: 'Libre Baskerville', serif;
  font-size:72px;
  color:#343435;
}

.alert {
  margin:auto;
  position:relative;
  width:75%;
  padding:10px;
  color:#FFFFFF;
  text-align:center;
  font-weight: 300;
  border-radius:3px;
}

.alert-notice {
  border: 1px solid #b0b894;
  background-color:#c1cc99;
}

.alert-error {
  border:1px solid #b89680;
  background:#9c7f6c;
}

.alert-alert {
  border: 1px solid #b7bcbd;
  background-color:#c9cecf;
}

.pull-left, .pull-right {
  text-align: right;
  margin:-49px 0 0 0px;
}

.visitor > a {
  color:#777777;
  font-size:18px;
}

.visitor > a:hover {
  color:#777777;
  text-decoration:none;
}

input, textarea, select, a { 
  outline: none;
}

.form-label {
  font-size:16px;
  font-family: 'Droid Serif', serif;
  color:#343435;
  font-weight:bold;
}

.form-field {
  font-family: 'Droid Serif', serif;
  width:250px;
  font-size:15px;
  padding:7px 10px;
  background:white;
  border:1px solid #c9c9c9;
  border-radius:1px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.content {
  font-family: 'Droid Serif', serif;
  width:100%;
  font-size:15px;
  padding:7px 10px;
  background:white;
  border:1px solid #c9c9c9;
  border-radius:1px;
  margin-top:10px;
}

.content-area {
  min-height:360px;
  resize: none;
}

input, textarea, select, a { 
  outline:none;
}

a {
  color:#343435;
  text-decoration:none;
}

a:hover {
  color:#343435;
  text-decoration:underline;
}

.button {
  position:relative;
  height:37px;
  padding:10px 15px;
  color:#fafafa;
  font-family: 'Droid Serif', serif;
  font-size:13px;
  border:1px solid #b7bbbc;
  background-color:#b7bbbc;
  border-radius:0px;
  outline:none;
}

.button:hover {
  background-color:#c9cecf;
  color:#fafafa;
  text-decoration:none;
}

.home-button {
  text-align:center;
}

.home-button > button {
  text-align:center;
  height:40px;
  font-size:15px;
}

.button > a {
  color:#fafafa;
  text-decoration:none;
}

.submit-button {
  border:1px solid #b2c081;
  background-color:#b2c081;
}

.submit-button:hover {
  background-color:#c1cc99;
}

.cancel-button {
  border:1px solid #d49e7a;
  background-color:#d49e7a;
}

.cancel-button:hover  {
  background-color:#d3b099;
}

.text-options {
  text-align:center;
  margin-bottom:-20px;
  margin-top:10px;
}

.circular {
  border-radius: 50px;
}

.field_with_errors {
  display: inline;
}

.navbar-default {
  background-color:#efeee9;
}

.left-nav-side {
  margin-top:8px;
}

.caption-title {
  font-size:18px;
}

.row {
  display: table;
}

.article-box {
  display:table-cell;
}